*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* menu dell'accesso */
header{
  width: 100%;
}

.container{
  margin: auto;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.language li{
  display: inline-block;
}

.header-top{
  width: 100%;
  height: auto;
  background-color: #F4F9FD;
  /* background-color: red; */
}
.sx-header-top{
  float: left;
  width: 50%;

}


.language li a{
  text-transform: uppercase;
  text-decoration:none;
  color: #33475B;
}


.fa-angle-down {
  font-size: 20px;
  vertical-align: middle;
}

.rule{
  border-left: 1px solid;
  margin: 1px;
}

.access-search{
  float: left;
  width: 50%;
  text-align: right;
}

.language{
  list-style: none;
  margin: 10px 20px;
}
/* menu dell'accesso */

.rule-menu{
  border-bottom: 1px solid black;
}

/* menu di navigazione */

.nav-menu {
  width: 100%;
  height: 50px;
}

.logo {
  float: left;
  width: 20%;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 5%;

}

.nav-sez li{
  display: inline-block;
  list-style: none;
  text-transform: capitalize;
  line-height: 50px;
}
.menu-list {
  float: left;
  width: 70%;
  margin-left: 3%;
  text-align: right;
}
/* menu di navigazione */

/* header banner */
.header-banner{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #FFF3EE;
}

.info-img{
  position: absolute;
  width: 80%;
  margin-left: 20%;
}

.info-pic{
  position: absolute;
  width: 60%;
}

.box-azzurro{
  position: absolute;
  margin-top: 34%;
  width: 100%;
  height: 64px;
  background-color: #AFEBE4;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.title {
  width: 70%;
  margin-left: 5%;
  padding-top: 5%;
  font-size: 50px;
  color: #33475B;
}
.sottotitle{
  width: 50%;
  margin-left: 5%;
  padding-top: 2%;
  font-size: 12px;
  color: #33475B;
}
.botton{
  line-height: 5;
}

.btn{
  background-color: #FE775A;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-left: 5%;
}

.info-title{
  font-size: 12px;
  width: 50%;
  margin-left: 5%;
  color: #33475B;
}
/* header banner */

/* sezione info */
.service{
  position: relative;
  width: 100%;
  background-color: #F4F9FD;
}

.box-info{
  text-align: center;
}
.cube{
  width: 250px;
  margin-top: 5%;
}

.cube-title {
  font-size: 30px;
  color: #33475B;
}

.cube-paragraf{
  font-size: 10px;
  padding: 2%;
}

.container-box-free{
  width: 75%;
  margin: auto;
  background-color: #fff;
}
.img-free li{
  list-style: none;
}
.img-free ul{
  width: 30%;
}

.img-crm{
  float: left;
  width: 130px;
  padding: 15px;
}

.free-botton .btn{
  float: left;
  width: 80px;
  font-size: 10px;

}

.box-free-title{
  float: right;
  width: 60%;
}

.h2-title{
  font-size: 20px;
  color: #33475B;
}

.p-paragraf{
  font-size: 10px;
  color: #33475B;
}
