*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}
header{
  width: 100%;
}

.container{
  background-color: #F4F9FD;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.language li{
  display: inline-block;
}
.header-top{
  float: left;
  width: 50%;
  padding: 20px;
}


.language li a{
  text-transform: uppercase;
  text-decoration:none;
  color: #33475B;
}


.fa-angle-down {
  font-size: 20px;
  vertical-align: middle;
}

.rule{
  border-left: 1px solid;
  margin: 1px;
}

.access-search{
float: left;
width: 50%;
padding: 20px;
text-align: right;
}
.language{
  list-style: none;
}
.rule-menu{
  border-bottom: 2px solid black;
}
